body {
    font-family: 'Inter', sans-serif;
    max-height: 100vh;
    background-color: var(--bg);

}

main {
    height: 100%;
    width: 100%;
}

.dark {
    --bg: hsl(230, 17%, 14%);
    --bg-top: hsl(232, 19%, 15%);
    --bg-card: hsl(228, 28%, 20%);
    --subtext: hsl(228, 34%, 66%);
    --header-text: hsl(0, 0%, 100%);
    --theme-switcher: linear-gradient(to right, hsl(210, 78%, 56%),hsl(146, 68%, 55%));
    --toggler: hsl(232, 19%, 15%);
}

.light {
    --bg: hsl(0, 0%, 100%);
    --bg-top: hsl(225, 100%, 98%);
    --bg-card: hsl(227, 47%, 96%);
    --subtext: hsl(228, 12%, 44%);
    --header-text: hsl(230, 17%, 14%);
    --theme-switcher: hsl(230, 22%, 74%);
    --toggler: hsl(0, 0%, 100%);
}

 h1 {
    color: var(--header-text);
}

h1 {
    font-size: 1.7rem;
    font-weight: 700;
}

 h4 {
    color: var(--subtext);
}

h4 {
    font-size: 1.09rem;
    font-weight: 700;
}

hr {
    color: var(--subtext);
}

.theme-name{
    color:  var(--subtext);
    font-weight: 700;
    font-size: 1.04rem;

}
.theme-switcher {
    background: var(--theme-switcher);
    max-width: 55px;
    height: 28px;
    border-radius: 20px;
    cursor: pointer;
}

.toggler {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background-color: var(--toggler);
    margin: 2px 2px;
    transition: 0.35s;
}

.card {
    border-top: 5px solid hsl(208, 92%, 53%);
    /* height: 10rem; */
    background-color: var(--bg-card);
    
}

.followers .card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.twitter .card {
    border-top: 5px solid hsl(203, 89%, 53%);
}

.instagram .card {
    /* border-top: 5px solid hsl(329, 70%, 58%);
     */ border: none;
}
.youtube .card {
    border-top: 5px solid hsl(348, 97%, 39%);
}

.instagram .card {
    position: relative;
    overflow: hidden;
}

.instagram .card::before {
    content: '';
    background-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
}
.name-logo, .update {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .name {
    color: var(--subtext);
    font-size: 0.8rem;
    font-weight: 700;
}

.card .number, .card .today {
    color: var(--header-text);
}

.card .number {
    font-size: 2.8rem;
    font-weight: 700;
}

.card .follow {
    color: var(--subtext);
    letter-spacing: 0.3rem;
    font-size: 0.9rem;
}

.card .today {
    font-size: 0.85rem;
    font-weight: 700;
}

.twitter .today, .instagram .today {
    color: hsl(163, 72%, 41%);
}
.youtube .today {
    color: hsl(356, 69%, 56%);
}

.overview .card {
    border: none;
}

.overview .views {
    color: var(--subtext);
    font-weight: 700;
}
.overview .num {
    color: var(--header-text);
    font-weight: 700;
    font-size: 1.6rem;
}
.overview .percent {
    color: hsl(163, 72%, 41%);
    font-weight: 700;
    font-size: 0.8rem;
}

.fb-likes .percent, .yt-likes .percent, .total-views .percent {
    color: hsl(356, 69%, 56%)    ;
}

.views-logo, .num-percent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

